.review{
    text-align: center;
    padding: 40px 20px;
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: 0.5s;
    margin-bottom: 34px;
}
 .review img{
    width: 50px;
    margin-top: 20px;
    border-radius: 50%;
}
.review:hover{
    transform: translateY(-10px);
}
.rating{
    font-size: 22px;
    color: #ff523b;
}
.review p{
    font-size: 12px;
    margin: 12px 0;
    color: #777;
}
 .review h3{
    font-weight: 600;
    color: #555;
    font-size: 16px;
}