.Reviews{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding-top: 100px;
}

@media only screen and (max-width: 600px) {
    .Reviews{
       grid-template-columns: 1fr;
    }
    .review {
        flex-basis: 100%;
    }
     .review{
        margin-bottom: 34px;
    }
}

