.home{
    padding-top: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .home-colum{
    flex-basis: 50%;
    min-width: 300px;
  }
  .home-colum .img{
    display: flex;
    justify-content: end;
  
  }
  .home-colum img{
    max-width: 100%;
    height: 500px;
  } 
  .home-colum h1{
    font-size: 46px;
    margin: 0;
    font-weight: 600;
  }
  .home-colum p{
    margin-top: 12px;
  }


  @media only screen and (max-width: 600px) {
    .home{
        flex-direction: column;
    }
    .home-colum{
        margin-bottom: 30px;
    }
    .home-colum img{
        margin-left: 0;
    }
}